<div class="navbar">
  <p class="nav-link"><%= link_to "_home", root_path %></p>
  <p class="nav-link"><%= link_to "_about-me", about_path %></p>
  <p class="nav-link"><%= link_to "_services", services_path %></p>
  <p class="nav-link"><%= link_to "_my-projects", projects_path %></p>
  <p class="nav-link"><%= link_to "_get-in-touch", contacts_path %></p>
</div>
